<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid navitems">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="logo">
                    <h2><a class="navbar-brand" href="#">Name of the site</a></h2>
                </div>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex navlinks">
                    <li class="nav-item">
                        <a class="nav-link" href="#">SPACES</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled">AMENITIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">CONTACT</a>
                    </li>
                </ul>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>

            </div>
        </div>
        <div>
            <button id="bookNow">BOOK NOW</button>
        </div>
    </nav>
    <main>
        <!-- -------------------------HOME-------------------------------- -->
        <div class="container-fluid mb-5">
            <div class="row title-row">
                <div class="col-8 title-column">
                    <h1>Exceptional stay <br>
                        Extraordinary adventure.</h1>
                </div>
            </div>
            <div class="row image">
                <div class="col image-wrapper">
                    <img src="images/hero-image.jpg" />
                </div>
            </div>
        </div>
        <!-- -------------------------------ABOUT US---------------------------- -->
        <div class="row image-with-text justify-content-center mb-5">
            <div class="col-lg-6">
                <img src="https://picsum.photos/600" alt="">
            </div>
            <div class="col-lg-5 d-flex align-items-start about-text flex-column justify-content-center">
                <h2>Lorem Picsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A iure deserunt animi ullam doloribus,
                    molestias ab et quisquam laborum quam sunt sequi. Expedita quisquam quo, inventore at officiis
                    laudantium accusamus quod itaque eligendi in? Consequuntur est dolorem quibusdam iste ipsa dicta
                    temporibus odio repudiandae accusantium ratione! Rem quaerat illum ad?</p>
                <button class="px-5 py-3 border-0">LEARN MORE</button>
            </div>
        </div>
        <!-- -----------------------------SPACES----------------------------------- -->
        <div id="spaces">
            <div class="container-fluid">
                <h2 class="text-center">Discover our spaces</h2>
                <h3 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptates!</h3>
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="card bg-transparent border-0" style="width: 22rem;">
                            <img src="/images/pexels-adriaan-greyling-751266.jpg" class="card-img-top" alt="..." height="450">
                            <div class="card-body text-center">
                              
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <button class="px-5 py-3 border-0"><a href="#">EXPLORE SPACE</a></button>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="card bg-transparent border-0" style="width: 22rem;">
                            <img src="/images/pexels-adriaan-greyling-751266.jpg" class="card-img-top" alt="..." height="450">
                            <div class="card-body text-center">
                              
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <button class="px-5 py-3 border-0"><a href="#">EXPLORE SPACE</a></button>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="card card bg-transparent border-0" style="width: 22rem;">
                            <img src="/images/pexels-adriaan-greyling-751266.jpg" class="card-img-top" alt="..." height="450">
                            <div class="card-body text-center">
                              
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <button class="px-5 py-3 border-0"><a href="#">EXPLORE SPACE</a></button>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="text-center container-fluid" >
                <p style="font-size: 5em; color: #4c4b4b; line-height: 2rem;" class="mb-0"><i class="fa-solid fa-quote-left"></i></p>
                <p style="font-size: 2.5em; color: white; line-height: 2.5rem;">Taking time off is the best you can do for your <br> peace of mind</p>
                <div>
                  <img style="width: 100%;" src="/images/buildings-gf47f341de_1920.jpg" alt="">
                </div>
            </div>    
        </div>

        <!-- ---------------------------------AMENETIES------------------------------------ -->
        <div id="amenities">
            <div class="row justify-content-center mb-5 mt-5 amenities-text">
                <div  class="col-lg-6 d-flex align-items-center about-text flex-column justify-content-center px-5">
                    <h2>Amenities</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A iure deserunt animi ullam doloribus,
                        molestias ab et quisquam laborum quam sunt sequi.</p>
                    <button class="px-5 py-3 border-0" >LEARN MORE</button>
                </div>
                <div class="col-lg-5">
                    <img src="https://picsum.photos/600" alt="">
                </div>
                
            </div>
        </div>
        
    </main>

















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>