@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,800;0,900;1,200;1,600;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #343333;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}
h1,h2{
    font-weight: 700;
}
h2{
    font-size: 3em;
}


nav{
    background-color: #4c4b4b;
  
}
.navbar,.footer-social{
    padding: 0 6rem;
}

.nav-item a{
    color:#fff;
    font-size: .7em;
}
.navbar ul{
    margin-left: auto;
    
}
.navbar button{
    line-height: 1.3em;
    padding: .7rem 2rem;
    font-size: 1em;
}
nav ul li a{
    color:#fff !important;
    
}
.logo{
    width: 100%;
 
}
.navbar-brand{
    font-size: 1em;
    color:#fff;
    line-height: 3em;
    font-weight: 700;
}
.navitems{
    gap: 1rem;
}
.navlinks{
    gap: 1rem;
}
.fa-facebook{
    margin: 0 2rem;
}
.fa-brands{
    color:#fff;
    margin-right: 2rem
}
#bookNow{
    padding: 10px 25px;
    white-space: nowrap;
}

.title-row{
    background-color:  #343333;
    padding: 5% 0 5% 5%;
    
}
.title-row h1{
    font-size: 3.5em;
    color:#fff
}
.image-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-wrapper{
    height: 100%;
    width: 100%;
    padding: 0;
}
.image{
    height:70vh;
}
.social-icons{
    display: flex;
}


.image-with-text .col-lg-5 p{
    font-size: 1.4em;
}
.image-with-text .col-lg-5 h2{
    font-size: 4em;
}

/* ------------------------ABOUT----------------------------------- */
.card-body button a{
    text-decoration: none;
    color: #343333;
}
#spaces{
    margin-top: 60px;
}
#spaces .row{
    gap:6%
}

.mission{
    height: 75vh;
}
.mission-left{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    
}
.mission-left img{
    width: 80%;
    height: 100%;
} 
.mission-right{
    position: relative;
    
}
.mission-right img{
    position: absolute;
    width: 80%;
    left: -6%;
    top: 10%;
    height: 100%;
}
.about-discoveries{
    margin-top: 100px;
}


/* -------------------------TAKING TIME OFF------------------------------- */

.taking-time{
    text-align: center;
    margin-top: 2em;
}
.taking-time .quote{
     width: 100px;
}
.taking-time h2{
    padding: 1rem;
    font-weight: 400 !important;
    margin-bottom: 2em;
}
.taking-time .image{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/images/buildings-gf47f341de_1920.jpg');
   
}
.taking-time .plan-with-image a{
    background-color: #000;
    padding: 1rem 2rem;
    line-height: 3em;
    text-decoration: none;
    color: #fff;
}
.taking-time .plan-with-image h2{
    padding: 0;
    margin: 1rem;
}


/* -------------------------AMENITIES------------------------------- */
.amenities-text .col-lg-6 p{
    font-size: 1.4em;
}
.amenities-text .col-lg-6 h2{
    font-size: 3.5em;
}

/* -------------------------PLAN WITH US------------------------------- */
#plan-with-us{
    text-align: center;
    background-color: #d9d9d9 ;
    color:#4c4b4b;
}

#plan-with-us .row{
    padding: 5rem 0 4rem;
}
#plan-with-us .row h2{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 3rem;
}
#plan-with-us .row a{
    background-color: #4c4b4b;
    padding: 1rem 2rem;
    line-height: 3em;
    text-decoration: none;
    color: #fff;
 
}

/* -------------------------SLICK SLIDER------------------------------- */

.reviews .reviews-slide h3, .reviews .reviews-slide2 h3{
    width: 75%;
    FONT-SIZE: 2.5rem;
    margin-bottom: 2rem;
}
.hospitality-slides{
    background:#4c4b4b;
}

/* -------------------------FOOTER------------------------------- */
footer .navbar-brand  h2{
    display: none !important;
}
footer .social-icons{
    padding: 12px;
} 

footer{
    padding: 0 !important;
    background-color: #4c4b4b;
}

/* ------------------AMENITIES PAGE------------------------ */

.amenities_hero{
    height: 75vh;
    background: url(/images/pexels-max-vakhtbovych-6585763.jpg);
    background-size: cover;
    align-items: center;
}
.amenities_title{
    height: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #343333;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.amenities_features{
    width: 70%;
    margin: auto;
}
.amenities_features ul{
    margin-top: 3%;
}
.amenities_features ul li{
    margin-bottom: 2%;
}
hr{
    margin: 5% auto;
    background-color: #fff !important;
    font-size: 10px;
    border: 1.2px solid white;
    width: 90%;
    
}
/* -----------------------PROPERTY PAGE--------------------------- */
.property_left img{
    width: 100%;
    margin-bottom: 5%;
    height: 450px;
}
.property_right{
    padding-left: 5%;
}
.property_right h2{
    padding-top: 5%;
}
.amenities_pictures{
    height: 80%;
}
.amenities_pictures img{
    width: 100%;
    padding: 2% 5%;
}


/* Media Queries */

@media screen and (max-width:991px){
    footer .navbar-brand h2{
        display: block;
    }
    .book-now{
        width: 100% !important;
    }
    .footer-social{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1{
        font-size: 2rem;
    }
    .reviews-slide, .reviews-slide2{
        text-align: center;
   
    }
    .reviews .reviews-slide h3, .reviews .reviews-slide2 h3{
        width: 100%;
    }
    .image-with-text .about-text{
        align-items: center !important;
    }
    #amenities .amenities-text .about-text{
        margin: 2rem 0;
    }
    nav{
        justify-content: center !important;
    }
     nav .navitems{
        justify-content: center !important;
    }
}
@media screen and (max-width:415px) {
    .title-row .title-column h1{
        font-size: 2.5em;
    }
}

